{% extends "base.html.twig" %}

{% block body %}
    <h1 style="text-align: center; margin-top: 2%;">Founders:</h1>
    <div style="display: flex; justify-content:center; align-items:center">
        <figure style="padding: 2rem; border:1px solid white; border-radius:2rem; background-color:rgba(163, 163, 163, 0.5);  margin: auto; margin-top: 5%;">
        <img style="height: 300px; border-radius:1000px; border:2px solid white;" src="https://i.pinimg.com/originals/94/a6/96/94a69675fc2f14fb48d56286f85a2972.png">
        <figcaption style="text-align: center; font-size:2rem">Supreme Leader</figcaption>
        <p style="align-items: center;">Started this company back in 1987 in Seattle.</p>
         </figure>
        
    </div>
{% endblock body %}