{% extends "base.html.twig" %}

{% block body %}
<div style="text-align: center; margin-top:2%; padding: 5rem;">
    <div style="background-color:rgba(50, 99, 102, 0.4); border-radius:1rem; padding: 1rem">
    <h1>Welcome to the Galaxy Federation</h1>
    <h3>Become a citizen of the future</h3>
    <h5>Why joining us?</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi minus dignissimos nesciunt rerum, error maxime, impedit voluptate quibusdam esse amet expedita odit aperiam doloribus neque, doloremque dolorum illo aut. Omnis?</p>
    <h5>Our conditions</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi minus dignissimos nesciunt rerum, error maxime, impedit voluptate quibusdam esse amet expedita odit aperiam doloribus neque, doloremque dolorum illo aut. Omnis?</p>
    <h5>New destiny</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi minus dignissimos nesciunt rerum, error maxime, impedit voluptate quibusdam esse amet expedita odit aperiam doloribus neque, doloremque dolorum illo aut. Omnis?</p>
    <h5>Enrol now!</h5>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi minus dignissimos nesciunt rerum, error maxime, impedit voluptate quibusdam esse amet expedita odit aperiam doloribus neque, doloremque dolorum illo aut. Omnis?</p>
    <a href="/apply">
    <button style="display: 20%; margin:auto; margin-top:1rem; padding:1rem; border-radius: 1rem;">BACK TO APPLY</button>
</a>
</div>
</div>
{% endblock body %}