{% extends "base.html.twig" %}

{% block body %}
{% for message in app.flashes('sucess') %}
    <div>
        <h4 style="text-align: center;">{{ message }}</h4>
    </div>
    
{% endfor %}
<div class="imageDivRelocate">
<img src="https://fontmeme.com/temporary/331fadd8d2f2562776ba02decc07b937.png" class="relocateImage">
</div>
<h1 style="text-align: center; font-weight:100">Move Planets. Find life. Find your place.</h1>
<div style="display: flex; align-items:center; justify-content:center">
    <a href="/login">
<button class="startButton">START</button>
    </a>
</div>
{% endblock %}